---
import MainLayout from "@/layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";

import illustrationMobile from "@/assets/illustration-sign-up-mobile.svg";
import illustrationDesktop from "@/assets/illustration-sign-up-desktop.svg";
import iconList from "@/assets/icon-list.svg";
---

<MainLayout title="Frontend Mentor | Newsletter Sign Up">
  <div
    class="h-[840px] w-[375px] bg-sad-white md:flex md:h-[660px] md:w-[920px] md:flex-row-reverse md:gap-4 md:rounded-[2.5rem] md:p-6"
  >
    <div class="md:w-1/2">
      <Image
        src={illustrationMobile}
        alt={"Sign Up"}
        loading={"eager"}
        class="md:hidden"
      />
      <Image
        src={illustrationDesktop}
        alt={"Sign Up"}
        loading={"eager"}
        class="hidden md:block"
      />
    </div>
    <section class="mx-7 my-7 md:w-1/2">
      <h1 class="mb-3 text-[2.5rem] font-bold text-sad-dark-slate-grey">
        Stay updated!
      </h1>
      <p class="mb-7 text-sad-dark-slate-grey">
        Join 60,000+ product managers receiving monthly updates on:
      </p>
      <div
        class="items-top mb-10 grid grid-cols-[10%,90%] gap-2 text-sad-dark-slate-grey"
      >
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>Product discovery and building what matters</p>
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>Measuring to ensure updates are a success</p>
        <Image src={iconList} alt={"Checkmark"} loading={"eager"} />
        <p>And much more!</p>
      </div>
      <form novalidate id="form">
        <div class="mb-6 flex flex-col">
          <label
            for="email"
            class="mb-3 text-xs font-bold text-sad-dark-slate-grey"
            >Email address</label
          >
          <input
            id="email"
            type="email"
            name="email"
            class="h-14 rounded-lg border border-gray-300 px-6 py-4 text-sad-grey"
            placeholder="email@company.com"
          />
        </div>
        <button
          type="submit"
          class="h-14 w-full rounded-lg border bg-sad-dark-slate-grey text-sad-white"
          >Subscribe to monthly newsletter</button
        >
      </form>
    </section>
  </div>
</MainLayout>

<script>
  import { actions } from "astro:actions";

  const form = document.getElementById("form") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    await actions.newsletter(formData);
  });
</script>
